<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <link rel="stylesheet" th:href="@{/products.css}">
</head>
<body>
<h1>Products</h1>
<ul>
    <li th:each="product : ${products}">
        <img th:src="${product.imageUrl}" alt="Product Image" style="width: 150px; height: 150px;" />
        <a th:href="@{/products/{id}(id=${product.id})}" th:text="${product.name}"></a>
        <p th:text="${product.description}"></p>
        <p th:text="'$' + ${product.price}"></p>
    </li>
</ul>
</body>
</html>
